<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>SHOEME</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/admin/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/admin/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/admin/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/admin/css/style.css" rel="stylesheet">

</head>

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner"
            class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-light navbar-light">
                <a href="" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary"></i>SHOEME</h3>
                </a>
                <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative">
                       
                    </div>
                    <div class="ms-3">
                        <h6 class="mb-0">Admin</h6>
                    </div>
                </div>
                <div class="navbar-nav w-100">
                    <a href="/admin/dashboard" class="nav-item nav-link active"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
                    
                    <a href="/admin/userlist" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Users</a>
                    <a href="/admin/orderlist" class="nav-item nav-link"><i class="fa fa-table me-2"></i>Orders</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>Category</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="/admin/categorylist" class="dropdown-item">Categories</a>
                            <a href="/admin/catCreate" class="dropdown-item">Add Category</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>Products</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="/admin/productlist" class="dropdown-item">Products</a>
                            <a href="/admin/prodCreate" class="dropdown-item">Add Product</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>Banner</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="/admin/bannerlist" class="dropdown-item">Banners</a>
                            <a href="/admin/bannerCreate" class="dropdown-item">Add Banner</a>
                        </div>
                    </div>
      
                    <div class="nav-item dropdown">
                        <a href="/admin/offerlist" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>Offers</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="/admin/offerlist" class="dropdown-item">Offers</a>
                            <a href="/admin/productOfferCreate" class="dropdown-item">Create Product Offer</a>
                            <a href="/admin/categoryOfferCreate" class="dropdown-item">Create Category Offer</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>Coupons</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="/admin/couponlist" class="dropdown-item">Coupon</a>
                            <a href="/admin/couponCreate" class="dropdown-item">Create Coupon</a>
                           
                        </div>
                    </div>
                    
                </div>
            </nav>
        </div>
        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
                <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
                    <h2 class="text-primary mb-0"><i class="fa fa-hashtag"></i></h2>
                </a>
                <a href="#" class="sidebar-toggler flex-shrink-0">
                    <i class="fa fa-bars"></i>
                </a>
                <form class="d-none d-md-flex ms-4">
                    <input class="form-control border-0" id="search" name="search"  type="search" placeholder="Search">
                    <br>
                    <button type="submit" class="bg-primary text-white" style="border: none; margin-left: 10px; border-radius: 5px;"
                            onclick="event.preventDefault(); searchAndPagination('search')">SEARCH</button>
                </form>
                <div class="navbar-nav align-items-center ms-auto">
                    <div class="nav-item dropdown">

                        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">

                            <hr class="dropdown-divider">

                            <hr class="dropdown-divider">

                            <hr class="dropdown-divider">

                        </div>
                    </div>

                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">

                            <span class="d-none d-lg-inline-flex">Admin</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                            <a href="/admin/adminLogout" class="dropdown-item">Log Out</a>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- Navbar End -->

            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">

                    <div class="container">
                        <!-- Title -->
                       
                        <% orderData.forEach((i)=> { %>
                          <div class="d-flex justify-content-between align-items-center py-3">
                            <h2 class="h5 mb-0"><a href="#" class="text-muted" style="font-weight: bold;"></a> Order #<%= i._id %>
                            </h2>
                          </div>
              
                          <!-- Main content -->
                          <div class="row">
                            <div class="col-lg-8">
                              <!-- Details -->
                              <div class="card mb-4">
                                <div class="card-body">
                                  <div class="mb-3 d-flex justify-content-between">
                                    <div>
                                      <span class="me-3">
                                        <%= i.orderDate %>
                                      </span>
                                      <span class="me-3">#<%= i._id %></span>
                                      <span class="badge">
                                        
                                        <select id="statusDropdown"
                                        onchange="changestatus(event, '<%= i._id %>')">
                                        <option value="Placed" <%=i.status==="Placed" ? "selected" : ""
                                            %>>Placed
                                        </option>
                                        <option value="Shipping" <%=i.status==="Shipping" ? "selected"
                                            : "" %>>Shipping
                                        </option>
                                        <option value="Dispatched" <%=i.status==="Dispatched"
                                            ? "selected" : "" %>
                                            >Dispatched</option>
                                        <option value="Delivered" <%=i.status==="Delivered" ? "selected"
                                            : "" %>
                                            >Delivered</option>
                                        <option value="Cancelled" <%=i.status==="Cancelled" ? "selected"
                                            : "" %>
                                            >Cancelled</option>
                                            <option value="Cancelled" <%=i.status==="Return" ? "selected"
                                            : "" %>
                                            >Return</option>
                                    </select>
                                      </span>
                                    </div>
                                    <div class="d-flex">
                                      <!-- <button class="btn btn-link p-0 me-3 d-none d-lg-block btn-icon-text"><i class="bi bi-download"></i> <span class="text">Invoice</span></button> -->
              
                                    </div>
                                  </div>
                                  <table class="table table-borderless">
                                    <tbody>
                                      <% i.productDetails.forEach((j)=> { %>
                                        <tr>
                                          <td>
              
                                            <div class="d-flex mb-2">
                                              <div class="flex-shrink-0">
                                                <img src="/images/uploads/<%= j.imageUrl[0] %>" alt="" width="100" class="img-fluid zoomable">
                                              </div>
                                              <div class="flex-lg-grow-1 ms-3">
                                                <h6 class="small mb-0"><a href="#" class="text-reset" style="font-weight: bold; font-size: larger;">
                                                    <%= j.productName %>
                                                  </a></h6>
                                                <span class="small">Color:  <%= j.color %></span>
                                                <br>
                                                <span class="small">Size:  <%= j.size %></span>
                                              </div>
                                            </div>
                                          </td>
                                          <% i.item.forEach((j) => { %>
                                          <td>
                                          
                                              <div class="tableHeight">QTY:<%= j.quantity %></div>
                                          
                                          </td>
                                          <% }); %>
                                    
                                              <td class="text-end">
                                                 ₹<%= j.price %>
                                              </td>
              
                                        </tr>
                                        <% }); %> 
                                      
                                    </tbody>
                                    <tfoot>
                                      <tr>
                                        <td colspan="2">Subtotal</td>
                                        <td class="text-end">₹<%= i.totalPrice %></td>
                                      </tr>
                                      <tr>
                                        <td colspan="2">Shipping</td>
                                        <td class="text-end">Free</td>
                                      </tr>
                                      <tr>
                                        <td colspan="2"></td>
                                        <td class="text-danger text-end"></td>
                                      </tr>
                                      <tr class="fw-bold">
                                        <td colspan="2">TOTAL</td>
                                        <td class="text-end text-danger">₹<%= i.totalPrice %></td>
                                      </tr>
                                    </tfoot>
                                  </table>
                                </div>
                              </div>
                              <!-- Payment -->
                              
                            </div>
                            <div class="col-lg-4">
                              <!-- Customer Notes -->
                              <div class="card mb-4">
                                <div class="card-body">
                                  <h3 class="h6">Expected Delivery Date:</h3>
                                  <p><%= i.deliveryDate %></p>
                                  <h3 class="h6">Payment Method</h3>
                                  <p><%= i.paymentType %> <br>
                                    ₹<%= i.totalPrice %> </p>
                                                    
                                </div>
                              </div>
                              
                            </div>
                          </div>
                      </div>
                      <% }); %>
                    </div>




                    
                </div>
            </div>

            <!-- Sale & Revenue Start -->



            <!-- Sales Chart Start -->

            <!-- Sales Chart End -->


            <!-- Recent Sales Start -->

            <!-- Recent Sales End -->


            <!-- Widgets Start -->

            <!-- Widgets End -->


            <!-- Footer Start -->

            <!-- Footer End -->
        </div>
        <!-- Content End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script>
        //searching the users

        // Get the search input and table rows
        const searchInput = document.querySelector('input[type="search"]');
        const tableRows = document.querySelectorAll('tbody tr');

        // Add an event listener to the search input
        searchInput.addEventListener('input', function () {
            const searchValue = this.value.toLowerCase();

            // Loop through the table rows and hide/show them based on the search input
            tableRows.forEach(function (row) {
                const productName = row.querySelector('td:nth-of-type(2)').textContent.toLowerCase();

                if (productName.includes(searchValue)) {
                    row.style.display = 'table-row';
                } else {
                    row.style.display = 'none';
                }
            });
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/admin/lib/chart/chart.min.js"></script>
    <script src="admin/lib/easing/easing.min.js"></script>
    <script src="admin/lib/waypoints/waypoints.min.js"></script>
    <script src="admin/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="admin/lib/tempusdominus/js/moment.min.js"></script>
    <script src="admin/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="admin/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="/admin/js/main.js"></script>
    <script>
        function changestatus(event, id) {
            fetch('/admin/updateStatus', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ statusvalue: event.target.value, id: id })
            })
                .then(function (response) {
                    if (response.ok) {
                        console.log('Status updated successfully');
                    } else {
                        console.error('Failed to update status');
                    }
                })
                .catch(function (error) {
                    console.error('Error:', error);
                });
        }

    </script>
    
    <script>
        function changestatus(event, id) {
            fetch('/admin/updateStatus', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ statusvalue: event.target.value, id: id })
            })
                .then(function (response) {
                    if (response.ok) {
                        console.log('Status updated successfully');
                    } else {
                        console.error('Failed to update status');
                    }
                })
                .catch(function (error) {
                    console.error('Error:', error);
                });
        }

    </script>
</body>

</html>