<div class="section">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <section class="h-100 gradient-custom">
          <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
              <div class="col-lg-10 col-xl-8">
                <div class="card" style="border-radius: 10px;">


                  <div class="card shadow-0 border mb-4">
                    <% orderData.forEach((i)=> { %>
                      <div class="card-body">
                        <div class="row">
                          <div class="d-flex justify-content-between align-items-center mb-4">
                            <p class="small text-muted mb-0">Order id : <%= i._id %>
                            </p>
                          </div>
                          <% i.productDetails.forEach((j)=> { %>
                            <div class="col-md-2">
                              <img src="/images/uploads/<%= j.imageUrl[0] %>" class="img-fluid"
                                style="height: 100px; width: 100px;" alt="Phone">
                              <p class="text-muted mb-0">
                                <%= j.productName %>
                              </p>
                              <p class="text-muted mb-0 small">Qty: ₹<%= j.price %>
                              </p>
                            </div>
                            <% }); %>

                              <% i.item.forEach((j)=> { %>
                                <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                  <p class="text-muted mb-0 small">Qty: <%= j.quantity %>
                                  </p>
                                </div>
                                <% }); %>
                                  <br>
                                  <div class="d-flex justify-content-between align-items-center mb-4">
                                    <p class="small text-muted mb-0">Payment Mode : <%= i.paymentType %>
                                    </p>
                                  </div>
                                  <div class="d-flex justify-content-between align-items-center mb-4">
                                    <p class="small text-muted mb-0">Status:<span class="text-danger">
                                        <%= i.status %>
                                      </span>
                                    </p>
                                  </div>
                                  <div
                                    class="col-md-2 text-center d-flex justify-content-center align-items-center">

                                    <% if (i.status==='Placed' || i.status==='Shipping' || i.status==='Dispatched' )
                                      { %>
                                      <button class="btn btn-danger"
                                        onclick="cancelOrder('<%= i._id %>')">Cancel</button>
                                      <% } %>
                                  </div>


                                  <!-- Button trigger modal -->
                                  <button type="button" class="btn text-dark w-25" data-toggle="modal"
                                    data-target="#exampleModalCenter">
                                    Details
                                  </button>

                                  <!-- Modal -->
                                  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                                          <button type="button" class="close" data-dismiss="modal"
                                            aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                        </div>
                                        <div class="modal-body">
                                          ...
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                          <button type="button" class="btn btn-primary">Save changes</button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                                  <div
                                    class="d-flex align-items-center justify-content-between text-dark text-uppercase mb-0">
                                    <p class="fw-bold mb-0">Order Details</p>
                                    <p class="text-muted mb-0"><span class="fw-bold me-4">Total</span> <span
                                        class="text-danger"> ₹<%= i.totalPrice %></span></p>


                                  </div>
                                  <div class=" pt-2">
                                    <p class="fw-bold mb-0"><span class="fw-bold me-4">Order Date:</span>
                                      <%= i.orderDate %>
                                    </p>
                                    <br>
                                    <p class="fw-bold mb-0"><span class="fw-bold me-4">Delivery Date:</span>
                                      <%= i.deliveryDate %>
                                    </p>
                                  </div>



                        </div>
                        <hr class="mb-4" style="background-color: #e0e0e0; opacity: 1;">

                      </div>
                      <% }); %>
                  </div>






                </div>

              </div>
            </div>
          </div>
      </div>
      </section>




    </div>
    <!-- /row -->
  </div>














  <div class="row">
    <section class="h-100 gradient-custom">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-lg-10 col-xl-8">
            <div class="card" style="border-radius: 10px;">


              <div class="card shadow-0 border mb-4">
                <% orderData.forEach((i)=> { %>
                  <div class="card-body">
                    <div class="row">
                      <div class="d-flex justify-content-between align-items-center mb-4">
                        <p class="small text-muted mb-0">Order id : <%= i._id %>
                        </p>
                      </div>
                      <% i.productDetails.forEach((j)=> { %>
                        <div class="col-md-2">
                          <img src="/images/uploads/<%= j.imageUrl[0] %>" class="img-fluid"
                            style="height: 100px; width: 100px;" alt="Phone">
                          <p class="text-muted mb-0">
                            <%= j.productName %>
                          </p>
                          <p class="text-muted mb-0 small">Qty: ₹<%= j.price %>
                          </p>
                        </div>
                        <% }); %>

                          <% i.item.forEach((j)=> { %>
                            <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                              <p class="text-muted mb-0 small">Qty: <%= j.quantity %>
                              </p>
                            </div>
                            <% }); %>
                              <br>
                              <div class="d-flex justify-content-between align-items-center mb-4">
                                <p class="small text-muted mb-0">Payment Mode : <%= i.paymentType %>
                                </p>
                              </div>
                              <div class="d-flex justify-content-between align-items-center mb-4">
                                <p class="small text-muted mb-0">Status:<span class="text-danger">
                                    <%= i.status %>
                                  </span>
                                </p>
                              </div>
                              <div
                                class="col-md-2 text-center d-flex justify-content-center align-items-center">

                                <% if (i.status==='Placed' || i.status==='Shipping' || i.status==='Dispatched' )
                                  { %>
                                  <button class="btn btn-danger"
                                    onclick="cancelOrder('<%= i._id %>')">Cancel</button>
                                  <% } %>
                              </div>




                              <div class="product_info"> 
                                <h6 class="product_name"><a href=""><%= x.productName %></a></h6>
                                <div class="product_price">₹<%= x.price %> <% if(x.offerPercentage!=0) { %><del
                                  class="product-old-price">
                                  ₹<%= x.offerPrice %> 
                                </del>
                                <% }; %></div>
                              </div>


                              <!-- Button trigger modal -->
                              <button type="button" class="btn text-dark w-25" data-toggle="modal"
                                data-target="#exampleModalCenter">
                                Details
                              </button>

                              <!-- Modal -->
                              <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                                      <button type="button" class="close" data-dismiss="modal"
                                        aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                      ...
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary"
                                        data-dismiss="modal">Close</button>
                                      <button type="button" class="btn btn-primary">Save changes</button>
                                    </div>
                                  </div>
                                </div>
                              </div>

                              <div
                                class="d-flex align-items-center justify-content-between text-dark text-uppercase mb-0">
                                <p class="fw-bold mb-0">Order Details</p>
                                <p class="text-muted mb-0"><span class="fw-bold me-4">Total</span> <span
                                    class="text-danger"> ₹<%= i.totalPrice %></span></p>


                              </div>
                              <div class=" pt-2">
                                <p class="fw-bold mb-0"><span class="fw-bold me-4">Order Date:</span>
                                  <%= i.orderDate %>
                                </p>
                                <br>
                                <p class="fw-bold mb-0"><span class="fw-bold me-4">Delivery Date:</span>
                                  <%= i.deliveryDate %>
                                </p>
                              </div>



                    </div>
                    <hr class="mb-4" style="background-color: #e0e0e0; opacity: 1;">

                  </div>
                  <% }); %>
              </div>






            </div>

          </div>
        </div>
      </div>
  </div>













<script>

  const prodDetails = async (req, res) => {
    if (req.params.id) {
      try {
  
        const productId = new ObjectId(req.params.id);
        userData = req.session.user;
        const productObj = await Product.aggregate([
          {
            $match: {
              _id: productId
            }
          },
          {
            $lookup: {
              from: "categories",
              localField: "category",
              foreignField: "_id",
              as: "categoryDetails",
            },
          },
          {
            $unwind: "$categoryDetails",
          },
        ]);
        if (req.session.user) {
          User.findOne({ _id: userData }).then((user) => {
            res.render("product", { userData: user, data: productObj, text: "" });
          });
        } else {
          res.render("product", { data: productObj, text: "" });
        }
      } catch (error) {
        console.log(error.message);
      }
    }
  };







  try {
    let userId = new ObjectId(req.session.user);
    const OrderId = new ObjectId(req.params.id);
    const user = await User.findOne({ _id: userId });
    const orderDetails = await Order.aggregate([
      {
        $match: { _id: OrderId }
      },
      {
        $lookup: {
          from: "products",
          localField: "item.product",
          foreignField: "_id",
          as: "productDetails"
        }
      }, {
        $sort: { _id: -1 }
      }
    ]);
    orderDetails.forEach((order) => {
      order.orderDate = order.orderDate.toISOString().split("T")[0];
      order.deliveryDate = order.deliveryDate.toISOString().split("T")[0];
    });
    res.render("orderdetails", { userData: user, orderData: orderDetails });
  } catch (error) {
    console.log(error.message);
  }
</script>