<div class="container product_section_container">
  <div class="row">
      <div class="col product_section clearfix">

          <!-- Breadcrumbs -->


          <!-- Sidebar -->



          <div class="products_iso">
              <div class="row">
                  <div class="col">



                      <div class="product_sorting_container product_sorting_container_top">
                          <div id="store" class="col-md-9">
                            
                          <div class="product-grid">

                              <!-- Product 1 -->

                              <% allProducts.forEach(function(x,i) { %>
                                  <div class="product-item men">
                                      <div class="product discount product_filter">
                                          <div class="product_image">
                                              <img style="height: 230px;"
                                                  src="/images/uploads/<%= x.imageUrl[0] %>"
                                                  alt="">
                                          </div>

                                          <div class="product_info">
                                              <h6 class="product_name"><a href="">
                                                      <%= x.productName %>
                                                  </a></h6>
                                              <div class="product_price">₹<%= x.price %>
                                              </div> <% if(x.offerPercentage!=0) { %><del
                                                  class="product-old-price">
                                                  <%= x.offerPrice %> ₹
                                                </del>
                                                <% }; %>
                                          </div>
                                      </div>
                                      <div class="red_button add_to_cart_button"><a
                                              href="#"
                                              onclick="window.location.href='/login/prodDetails/<%= x._id %>'">View</a>
                                      </div>
                                  </div>
                                  <% }); %>

                          </div>






                      </div>
                  </div>
              </div>
          </div>


      </div>

      <!-- Benefit -->

      <div class="benefit">
          <div class="container">
              <div class="row benefit_row">
                  <div class="col-lg-3 benefit_col">
                      <div class="benefit_item d-flex flex-row align-items-center">
                          <div class="benefit_icon"><i class="fa fa-truck"
                                  aria-hidden="true"></i></div>
                          <div class="benefit_content">
                              <h6>free shipping</h6>
                              <p>Suffered Alteration in Some Form</p>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-3 benefit_col">
                      <div class="benefit_item d-flex flex-row align-items-center">
                          <div class="benefit_icon"><i class="fa fa-money"
                                  aria-hidden="true"></i></div>
                          <div class="benefit_content">
                              <h6>cach on delivery</h6>
                              <p>The Internet Tend To Repeat</p>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-3 benefit_col">
                      <div class="benefit_item d-flex flex-row align-items-center">
                          <div class="benefit_icon"><i class="fa fa-undo"
                                  aria-hidden="true"></i></div>
                          <div class="benefit_content">
                              <h6>45 days return</h6>
                              <p>Making it Look Like Readable</p>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-3 benefit_col">
                      <div class="benefit_item d-flex flex-row align-items-center">
                          <div class="benefit_icon"><i class="fa fa-clock-o"
                                  aria-hidden="true"></i></div>
                          <div class="benefit_content">
                              <h6>opening all week</h6>
                              <p>8AM - 09PM</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <!-- Newsletter -->

      <div class="newsletter">
          <div class="container">
              <div class="row">
                  <div class="col-lg-6">
                      <div
                          class="newsletter_text d-flex flex-column justify-content-center align-items-lg-start align-items-md-center text-center">
                          <h4>Newsletter</h4>
                          <p>Subscribe to our newsletter and get 20% off your first
                              purchase
                          </p>
                      </div>
                  </div>
                  <div class="col-lg-6">
                      <div
                          class="newsletter_form d-flex flex-md-row flex-column flex-xs-column align-items-center justify-content-lg-end justify-content-center">
                          <input id="newsletter_email" type="email"
                              placeholder="Your email" required="required"
                              data-error="Valid email is required.">
                          <button id="newsletter_submit" type="submit"
                              class="newsletter_submit_btn trans_300"
                              value="Submit">subscribe</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <!-- Footer -->

      <footer class="footer">
          <div class="container">
              <div class="row">
                  <div class="col-lg-6">
                      <div
                          class="footer_nav_container d-flex flex-sm-row flex-column align-items-center justify-content-lg-start justify-content-center text-center">
                          <ul class="footer_nav">
                              <li><a href="#">Blog</a></li>
                              <li><a href="#">FAQs</a></li>
                              <li><a href="contact.html">Contact us</a></li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-lg-6">
                      <div
                          class="footer_social d-flex flex-row align-items-center justify-content-lg-end justify-content-center">
                          <ul>
                              <li><a href="#"><i class="fa fa-facebook"
                                          aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-twitter"
                                          aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-instagram"
                                          aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-skype"
                                          aria-hidden="true"></i></a></li>
                              <li><a href="#"><i class="fa fa-pinterest"
                                          aria-hidden="true"></i></a></li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-lg-12">
                      <div class="footer_nav_container">
                          <div class="cr">©2018 All Rights Reserverd. Template by <a
                                  href="#">Colorlib</a> &amp; distributed by <a
                                  href="https://themewagon.com">ThemeWagon</a></div>
                      </div>
                  </div>
              </div>
          </div>
      </footer>

  </div>
</div>
<script>
   try {
    const allProducts = await Product.find({ isDeleted: false })
    let userData = null;
    if (req.session.user) {
      const userId = req.session.user;
      userData = await User.findOne({ _id: userId });
      res.render("Allproducts", { userData, allProducts });
    } else {
      res.render("Allproducts", { allProducts });
    }
  } catch (error) {
    console.log(error.message);

  }
</script>






try {
    const pageSize = 10; // Number of products per page
    const currentPage = req.query.page || 1; // Current page number

    // Filter options
    const brandOption = req.query.brand || null;
    const colorOption = req.query.color || null;
    const sizeOption = req.query.size || null;
    const priceSort = req.query.price || null;

    // Construct the filter object based on the selected options
    const filter = {
      isDeleted: false,
    };

    if (brandOption) {
      filter.brand = brandOption;
    }

    if (colorOption) {
      filter.color = colorOption;
    }

    if (sizeOption) {
      filter.size = sizeOption;
    }

    // Sort options
    let sort = {};

    if (priceSort === "highToLow") {
      sort = { price: -1 }; // Sort by price in descending order
    } else if (priceSort === "lowToHigh") {
      sort = { price: 1 }; // Sort by price in ascending order
    }

    // Query the database with pagination and filters
    const count = await Product.countDocuments(filter); // Get the total count of matching products
    const totalPages = Math.ceil(count / pageSize); // Calculate the total number of pages

    const products = await Product.find(filter)
      .sort(sort)
      .skip(pageSize * (currentPage - 1))
      .limit(pageSize);

    let userData = null;
    if (req.session.user) {
      const userId = req.session.user;
      userData = await User.findOne({ _id: userId });
      res.render("Allproducts", {
        userData,
        products,
        currentPage,
        totalPages,
        brandOption,
        colorOption,
        sizeOption,
        priceSort,
      });
    } else {
      res.render("Allproducts", {
        products,
        currentPage,
        totalPages,
        brandOption,
        colorOption,
        sizeOption,
        priceSort,
      });
    }
  } catch (error) {
    console.log(error.message);
  }








  const categoryDetail = async (req, res) => {
    const limitVal=2
    if (req.params.id) {
      try {
        const categoryId = new ObjectId(req.params.id);
        const entireProductData = await Product.aggregate([
          {
            $lookup: {
              from: "categories",
              localField: "category",
              foreignField: "_id",
              as: "category",
            },
          },
          {
            $unwind: "$category",
          }, {
            $match: {
              isDeleted: false,
              isCategoryDeleted:false,
              "category._id": categoryId,
              stock: { $ne: 0 }
            }
          }
        ])
        const colorOption = [...new Set(entireProductData.map(obj => obj.color))];
        const brandOption = [...new Set(entireProductData.map(obj => obj.brand))];
        const sizeOption = [...new Set(entireProductData.map(obj => obj.size))];
        let y=[
          {
            $lookup: {
              from: "categories",
              localField: "category",
              foreignField: "_id",
              as: "category",
            },
          },
          {
            $unwind: "$category",
          }, {
            $match: {
              isDeleted: false,
              isCategoryDeleted: false,
              "category._id": categoryId,
              stock: { $ne: 0 }
            }
          }
        ]
        const AllPageProductData = await Product.aggregate(y)
        const productData=await Product.aggregate(y).skip(0).limit(limitVal);
        const totalPages=Math.ceil(AllPageProductData.length/limitVal)
        if (req.session.user) {
          userData = req.session.user;
          User.findOne({ _id: userData }).then((user) => {
            res.render("productList", {
              userData: user,
              data: productData,
              brandOption: brandOption,
              sizeOption: sizeOption,
              colorOption: colorOption,
              colorSelected: [],
              brandSelected: [],
              sizeSelected: [],
              categoryId: categoryId,
              page: 1,
              sort: 0,
              totalPages:totalPages,
              limitVal:limitVal
            });
          });
        } else {
          res.render("productList", { data: productData, sort: 0, colorSelected: [], brandSelected: [], sizeSelected: [], brandOption: brandOption, sizeOption: sizeOption, colorOption: colorOption, categoryId: categoryId, page: 1, sort: 0,totalPages:totalPages,limitVal:limitVal });
        }
      } catch (error) {
        console.log(error.message);
      }
    }
  };