<section class="cart_area padding_top">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <!-- <th scope="col">Total</th> -->
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% items.forEach((i)=> { %>
                            <tr>
                                <td class="product-thumbnail">
                                    <div class="media">
                                        <img class="img-fluid"
                                            style="max-width: 100px; height: auto;"
                                            src="/images/uploads/<%= i.item.product.imageUrl[0] %>"
                                            alt="<%= i.item.product.productName %>" />
                                    </div>
                                </td>
                                <td class="product-name">
                                    <h5 style="font-weight: bolder;">
                                        <%= i.item.product.productName %>
                                    </h5>
                                </td>
                                <td class="product-price">
                                    <h5 style="font-weight: bolder;"
                                        id="total-price-<%= i.item._id %>">
                                        <%= i.item.product.price.toFixed(2) %> ₹
                                    </h5>
                                </td>
                                <td class="product-quantity">
                                    <div class="product_count">
                                        <button class="quantity__minus btn" min="1"
                                            data-id="<%=i.item._id%>" data-index=""
                                            onclick="decrementOrIncrementCart('<%= i._id %>','<%= i.item._id %>',-1)">-</button>
                                        <input min="1" max="10" class="input-number" id="qty<%=i.item._id %>"
                                            style="width: 30px; text-align: center;" type="text"
                                            value="<%= i.item.quantity %>" readonly>
                                        <button class="quantity__plus btn"
                                            data-id="<%=i.item._id%>" data-index=""
                                            onclick="decrementOrIncrementCart('<%= i._id %>','<%= i.item._id %>',1)">
                                            +</button>
                                        <button style="background-color: white;"
                                            class="remove-item-btn btn "
                                            data-item-id="<%=i.item._id%>"><i
                                                class="fa-sharp fa-solid fa-circle-xmark"></i></button>
                                    </div>
                                </td>
                                <!-- <td class="product-total">
                                    <p style="font-weight: bolder;">
                                        <span id="price-<%= i.item._id %>">
                                            ₹ <%= (i.item.product.price *
                                                i.item.quantity).toFixed(2) %>

                                        </span>
                                    </p>
                                </td> -->
                                <td class="product-remove">
                                    <button class="btn btn-danger"
                                        onclick="removeCartItem('<%= i._id %>','<%= i.item._id %>')">Remove
                                        From Cart</button>
                                </td>
                            </tr>
                            <% }); %>
                                <tr>
                                    <td colspan="2"></td>
                                    <td colspan="2"></td>
                                    <td class="total-amount">
                                        <h5 style="font-weight: bolder;padding-top: 0.2em;">
                                            Total Amount =
                                        </h5>
                                    </td>

                                    </td>

                                    <td class="total-price">
                                        ₹   <span style="font-weight: bolder;" id="total-price">
                                           <%= totalPrice.toFixed(2) %>
                                        </span>
                                    </td>
                                </tr>
                    </tbody>
                </table>
                <div class="checkout_btn_inner float-right">
                    <a class="btn btn-primary" href="/">Continue Shopping</a>
                    <a class="btn btn-warning mt-5" href="/checkout">Proceed to Checkout</a>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>
</section>