<!DOCTYPE html>
<html lang="en">
<head>
<title>Shoeme</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Colo Shop Template">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/template/styles/bootstrap4/bootstrap.min.css">
<link href="/template/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="/template/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="/template/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
<link rel="stylesheet" type="text/css" href="/template/plugins/OwlCarousel2-2.2.1/animate.css">
<link rel="stylesheet" href="/template/plugins/themify-icons/themify-icons.css">
<link rel="stylesheet" type="text/css" href="/template/plugins/jquery-ui-1.12.1.custom/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="/template/styles/single_styles.css">
<link rel="stylesheet" type="text/css" href="/template/styles/single_responsive.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
crossorigin="anonymous"></script>

<!-- Bootstrap -->
<link type="text/css" rel="stylesheet" href="/main/css/bootstrap.min.css" />

<!-- Slick -->
<link type="text/css" rel="stylesheet" href="/main/css/slick.css" />
<link type="text/css" rel="stylesheet" href="/main/css/slick-theme.css" />

<!-- nouislider -->
<link type="text/css" rel="stylesheet" href="/main/css/nouislider.min.css" />

<!-- Font Awesome Icon -->
<link rel="stylesheet" href="/main/css/font-awesome.min.css">

<!-- Custom stlylesheet -->
<link type="text/css" rel="stylesheet" href="/main/css/style.css" />



</head>

<body>

<div class="super_container">

	<!-- Header -->
	
		<%-include('userloged') %>
			

        <div id="breadcrumb" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<h3 class="breadcrumb-header">Your Cart</h3>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>

        <div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<!--================Cart Area =================-->
                    <section class="cart_area padding_top">
                        <div class="container">
                            <div class="cart_inner">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">Product</th>
                                                <th scope="col">Name</th>
                                                <th scope="col">Price</th>
                                                <th scope="col">Quantity</th>
                                                <th scope="col">Total</th>
                                                <th scope="col"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% items.forEach((i)=> { %>
                                                <tr>
                                                    <td class="product-thumbnail">
                                                        <div class="media">
                                                            <img class="img-fluid"
                                                                style="max-width: 100px; height: auto;"
                                                                src="/images/uploads/<%= i.item.product.imageUrl[0] %>"
                                                                alt="<%= i.item.product.productName %>" />
                                                        </div>
                                                    </td>
                                                    <td class="product-name">
                                                        <h5 style="font-weight: bolder;">
                                                            <%= i.item.product.productName %>
                                                        </h5>
                                                    </td>
                                                    <td class="product-price">
                                                        <h5 style="font-weight: bolder;"
                                                            id="total-price-<%= i.item._id %>">
                                                            <%= i.item.product.price.toFixed(2) %> ₹
                                                        </h5>
                                                    </td>
                                                    <td class="product-quantity">
                                                        <div class="product_count">
                                                            <button class="quantity__minus btn" min="1"
                                                                data-id="<%=i.item._id%>" data-index=""
                                                                onclick="decrementOrIncrementCart('<%= i._id %>','<%= i.item._id %>',-1)">-</button>
                                                            <input min="1" max="10" class="input-number"
                                                                style="width: 30px; text-align: center;" type="text"
                                                                value="<%= i.item.quantity %>" readonly>
                                                            <button class="quantity__plus btn" data-id="<%=i.item._id%>"
                                                                data-index=""
                                                                onclick="decrementOrIncrementCart('<%= i._id %>','<%= i.item._id %>',1)">
                                                                +</button>
                                                            <button style="background-color: white;"
                                                                class="remove-item-btn btn "
                                                                data-item-id="<%=i.item._id%>"><i
                                                                    class="fa-sharp fa-solid fa-circle-xmark"></i></button>
                                                        </div>
                                                    </td>
                                                    <td class="product-total">
                                                        <p style="font-weight: bolder;">
                                                            <span id="price-<%= i.item._id %>">
                                                                ₹ <%= (i.item.product.price * i.item.quantity).toFixed(2) %> 
                                                            </span>
                                                        </p>
                                                    </td>
                                                    <td class="product-remove">
                                                        <button class="btn btn-danger"
                                                            onclick="removeCartItem('<%= i._id %>','<%= i.item._id %>')">Remove
                                                            From Cart</button>
                                                    </td>
                                                </tr>
                                            <% }); %>
                                            <tr>
                                                <td colspan="2"></td>
                                                <td colspan="2"></td>
                                                <td class="total-amount">
                                                    <h5 style="font-weight: bolder;padding-top: 0.2em;">
                                                        Total Amount =
                                                    </h5>
                                                </td>
                    
														</td>
														
                                                        <td class="total-price">
                                                            <span style="font-weight: bolder;" id="total-price">
                                                                ₹ <%= totalPrice.toFixed(2) %> 
                                                            </span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class="checkout_btn_inner float-right">
                                                <a class="btn btn-primary" href="/">Continue Shopping</a>
                                                <a class="btn btn-warning mt-5" href="/checkout">Proceed to Checkout</a>
                                                <br>
                                                <br>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            
					<!--================End Cart Area =================-->




				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>

	<!-- Tabs -->


	<!-- Benefit -->

	<div class="benefit">
		<div class="container">
			<div class="row benefit_row">
				<div class="col-lg-3 benefit_col">
					<div class="benefit_item d-flex flex-row align-items-center">
						<div class="benefit_icon"><i class="fa fa-truck" aria-hidden="true"></i></div>
						<div class="benefit_content">
							<h6>free shipping</h6>
							<p>Suffered Alteration in Some Form</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 benefit_col">
					<div class="benefit_item d-flex flex-row align-items-center">
						<div class="benefit_icon"><i class="fa fa-money" aria-hidden="true"></i></div>
						<div class="benefit_content">
							<h6>cach on delivery</h6>
							<p>The Internet Tend To Repeat</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 benefit_col">
					<div class="benefit_item d-flex flex-row align-items-center">
						<div class="benefit_icon"><i class="fa fa-undo" aria-hidden="true"></i></div>
						<div class="benefit_content">
							<h6>45 days return</h6>
							<p>Making it Look Like Readable</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 benefit_col">
					<div class="benefit_item d-flex flex-row align-items-center">
						<div class="benefit_icon"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
						<div class="benefit_content">
							<h6>opening all week</h6>
							<p>8AM - 09PM</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Newsletter -->



	<!-- Footer -->

	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="footer_nav_container d-flex flex-sm-row flex-column align-items-center justify-content-lg-start justify-content-center text-center">
						<ul class="footer_nav">
							<li><a href="#">Blog</a></li>
							<li><a href="#">FAQs</a></li>
							<li><a href="contact.html">Contact us</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="footer_social d-flex flex-row align-items-center justify-content-lg-end justify-content-center">
						<ul>
							<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="footer_nav_container">
						<div class="cr">©2023 All Rights Reserverd. This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="#">Colorlib</a> &amp; distributed by <a href="https://themewagon.com">ThemeWagon</a></div>
					</div>
				</div>
			</div>
		</div>
	</footer>

</div>


<script>
    function decrementOrIncrementCart(cartId, itemId, value) {
        event.preventDefault();
        let data = {
            cartId: cartId,
            itemId: itemId,
            value: value
        };
        fetch("/decrementOrIncrementCart", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
            .then(response => {
                window.location.href = "/cart";
            })
            .catch(error => {
                console.error(error);
            });
    }

    async function removeCartItem(cartId, itemId) {
        try {
            const response = await fetch("/removeCartItem", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ itemId: itemId, cartId: cartId }),
            })
                .then(response => {
                    location.reload();
                })
                .catch(error => {
                    console.error(error);
                });
        } catch (error) {
            console.error(error);
        }
    }
    
    
</script>
<script src="/template/js/jquery-3.2.1.min.js"></script>
<script src="/template/styles/bootstrap4/popper.js"></script>
<script src="/template/styles/bootstrap4/bootstrap.min.js"></script>
<script src="/template/plugins/Isotope/isotope.pkgd.min.js"></script>
<script src="/template/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
<script src="/template/plugins/easing/easing.js"></script>
<script src="/template/plugins/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
<script src="/template/js/single_custom.js"></script>
<script src="/main/js/jquery.min.js"></script>
<script src="/main/js/bootstrap.min.js"></script>
<script src="/main/js/slick.min.js"></script>
<script src="/main/js/nouislider.min.js"></script>
<script src="/main/js/jquery.zoom.min.js"></script>
<script src="/main/js/main.js"></script>

</body>

</html>
