<!DOCTYPE html>
<html lang="en">

<head>
  <title>Shoeme</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Colo Shop Template">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/images/icons/icon.ico" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="/template/styles/bootstrap4/bootstrap.min.css">
  <link href="/template/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="/template/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
  <link rel="stylesheet" type="text/css" href="/template/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
  <link rel="stylesheet" type="text/css" href="/template/plugins/OwlCarousel2-2.2.1/animate.css">
  <link rel="stylesheet" href="/template/plugins/themify-icons/themify-icons.css">
  <link rel="stylesheet" type="text/css" href="/template/plugins/jquery-ui-1.12.1.custom/jquery-ui.css">
  <link rel="stylesheet" type="text/css" href="/template/styles/single_styles.css">
  <link rel="stylesheet" type="text/css" href="/template/styles/single_responsive.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

  <!-- Bootstrap -->
  <link type="text/css" rel="stylesheet" href="/main/css/bootstrap.min.css" />

  <!-- Slick -->
  <link type="text/css" rel="stylesheet" href="/main/css/slick.css" />
  <link type="text/css" rel="stylesheet" href="/main/css/slick-theme.css" />

  <!-- nouislider -->
  <link type="text/css" rel="stylesheet" href="/main/css/nouislider.min.css" />

  <!-- Font Awesome Icon -->
  <link rel="stylesheet" href="/main/css/font-awesome.min.css">

  <!-- Custom stlylesheet -->
  <link type="text/css" rel="stylesheet" href="/main/css/style.css" />
  <style>
    /* Styling for the table */
    table {
      width: 100%;
      border-collapse: collapse;
    }

    /* Styling for the table header */
    thead th {
      background-color: #f5f5f5;
      text-align: left;
      padding: 10px;
      font-weight: bold;
    }

    /* Styling for alternating table rows */
    tbody tr:nth-child(even) {
      background-color: #f9f9f9;
    }

    /* Styling for table cells */
    td {
      padding: 10px;
    }

    /* Styling for the cancel button */
    .btn-danger {
      background-color: #dc3545;
      color: #fff;
      border: none;
      padding: 5px 10px;
      cursor: pointer;
      font-size: 14px;
    }
    .store-pagination {
  float: right;
}

.store-pagination li {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #FFF;
  border: 1px solid #E4E7ED;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.store-pagination li+li {
  margin-left: 5px;
}

.store-pagination li:hover {
  background-color: #E4E7ED;
  color: #D10024;
}

.store-pagination li.active {
  background-color: #D10024;
  border-color: #D10024;
  color: #FFF;
  font-weight: 500;
  cursor: default;
}

.store-pagination li a {
  display: block;
}

.store-qty {
  margin-right: 30px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 12px;
}
  </style>



</head>

<body>

  <div class="super_container">

    <!-- Header -->

    <%-include('userloged') %>


      <div id="breadcrumb" class="section">
        <!-- container -->
        <div class="container">
          <!-- row -->
          <div class="row">
            <div class="col-md-12">
              <h3 class="breadcrumb-header">Your Order</h3>
            </div>
          </div>
          <!-- /row -->
        </div>
        <!-- /container -->
      </div>
      <div class="container">
        <table id="myTable" class="table container mx-5">
          <table class="table container mx-5 ">
            <thead style="border: none;">
              <tr>
                <th scope="col">DATE</th>
                <th scope="col">PRODUCT</th>
                <th scope="col">PAYMENT METHOD</th>
                <th scope="col">TOTAL</th>
                <th scope="col">ORDER STATUS</th>
                <th scope="col " > </th>
              </tr>
            </thead>
            <tbody>
              <% orderData.forEach((i)=> { %>
              <tr>
                <th scope="row"><%= i.orderDate %></th>
                <% i.productDetails.forEach((j)=> { %>
                <td>  <img src="/images/uploads/<%= j.imageUrl[0] %>" alt="" width="100" class="img-fluid zoomable"></td>
                <% }); %> 
                <td><%= i.paymentType %></td>
                <td>₹<%= i.totalPrice %></td>
                <td style="color: <%= i.status === 'Placed' ? 'orange' : (i.status === 'Cancelled' ? 'red' : 'green') %>"><%= i.status %></td>
    
                <td><a class="text-danger" onclick="window.location.href='/login/orderdetails/<%= i._id %>'" > More-details</a></td>
              </tr>
              <% }); %>
             
            
            </tbody>
          </table>
        </table>
        <div class="store-filter clearfix">
          <div class="store-pagination" style="text-align: center;">
              <ul class="pagination-list"
                  style="display: inline-block; list-style-type: none; margin: 0; padding: 0;">
                  <% for (let i=1; i <= totalPages; i++) { %>
                      <li <% if (i===page) { %>class="active"<% } %> style="display: inline-block;">
                        <a onclick="searchAndPagination('<%= i %>')" style="text-decoration: none;  <% if (i===page) { %>background-color: #ccc; color: white;<% } %>">
                          <%= i %>
                        </a>
                      </li>
                    <% } %>
                    
              </ul>
          </div>
      </div >
       
      </div>
     
      <!-- /container -->
  </div>

  <!-- Tabs -->


  <!-- Benefit -->

  <div class="benefit">
    <div class="container">
      <div class="row benefit_row">
        <div class="col-lg-3 benefit_col">
          <div class="benefit_item d-flex flex-row align-items-center">
            <div class="benefit_icon"><i class="fa fa-truck" aria-hidden="true"></i></div>
            <div class="benefit_content">
              <h6>free shipping</h6>
              <p>Suffered Alteration in Some Form</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 benefit_col">
          <div class="benefit_item d-flex flex-row align-items-center">
            <div class="benefit_icon"><i class="fa fa-money" aria-hidden="true"></i></div>
            <div class="benefit_content">
              <h6>cach on delivery</h6>
              <p>The Internet Tend To Repeat</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 benefit_col">
          <div class="benefit_item d-flex flex-row align-items-center">
            <div class="benefit_icon"><i class="fa fa-undo" aria-hidden="true"></i></div>
            <div class="benefit_content">
              <h6>45 days return</h6>
              <p>Making it Look Like Readable</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 benefit_col">
          <div class="benefit_item d-flex flex-row align-items-center">
            <div class="benefit_icon"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
            <div class="benefit_content">
              <h6>opening all week</h6>
              <p>8AM - 09PM</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Newsletter -->



  <!-- Footer -->

  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div
            class="footer_nav_container d-flex flex-sm-row flex-column align-items-center justify-content-lg-start justify-content-center text-center">
            <ul class="footer_nav">
              <li><a href="#">Blog</a></li>
              <li><a href="#">FAQs</a></li>
              <li><a href="contact.html">Contact us</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="footer_social d-flex flex-row align-items-center justify-content-lg-end justify-content-center">
            <ul>
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="footer_nav_container">
            <div class="cr">©2023 All Rights Reserverd. This template is made with <i class="fa fa-heart-o"
                aria-hidden="true"></i> by <a href="#">Rinas</a> &amp; distributed by <a href="">Shoeme</a></div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  </div>

  <script>
    function cancelOrder(orderId) {
      fetch(`/cancelOrder?orderId=${orderId}`, {
        method: "post",
        headers: {
          "Content-Type": "application/json",
        },
      })
        .then((response) => {
          if (response.ok) {
            location.reload()
          } else {

          }
        })
        .catch((error) => {

        });
    }
  </script>
  <script>
    function searchAndPagination(page) {
   
     const url = `/orders?page=${page}`;
     window.location.href = url;

 }
 </script>

  <script src="/template/js/jquery-3.2.1.min.js"></script>
  <script src="/template/styles/bootstrap4/popper.js"></script>
  <script src="/template/styles/bootstrap4/bootstrap.min.js"></script>
  <script src="/template/plugins/Isotope/isotope.pkgd.min.js"></script>
  <script src="/template/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
  <script src="/template/plugins/easing/easing.js"></script>
  <script src="/template/plugins/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
  <script src="/template/js/single_custom.js"></script>
  <script src="/main/js/jquery.min.js"></script>
  <script src="/main/js/bootstrap.min.js"></script>
  <script src="/main/js/slick.min.js"></script>
  <script src="/main/js/nouislider.min.js"></script>
  <script src="/main/js/jquery.zoom.min.js"></script>
  <script src="/main/js/main.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


</body>

</html>